.map { height: 330px; width: 480px; position: relative; font-size: 330px; margin: 20px 0; }
.stateface { font-size: 1%; position: absolute; bottom: 1%; right: 1%; text-shadow: 1px 1px #000; opacity: 0.8; }
.stateface-al { font-size: 20%; top: 49.6%; left: 62%; -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); }
.stateface-ak { font-size: 31.5%; top: 79.1%; left: 16%; -webkit-transform:rotate(8deg); -moz-transform:rotate(8deg); }
.stateface-ar { font-size: 15.5%; top: 48%; left: 50%; -webkit-transform:rotate(-1deg); -moz-transform:rotate(-1deg); }
.stateface-az { font-size: 25%; top: 50.8%; left: 10.8%; -webkit-transform:rotate(9deg); -moz-transform:rotate(9deg); }
.stateface-ca { font-size: 37%; top: 41.2%; left: -7.2%; -webkit-transform:rotate(16.5deg); -moz-transform:rotate(16.5deg); }
.stateface-co { font-size: 17.5%; top: 36.8%; left: 23%; -webkit-transform:rotate(5deg); -moz-transform:rotate(5deg); }
.stateface-ct { font-size: 4.2%; top: 23.3%; left: 88%; -webkit-transform:rotate(-10deg); -moz-transform:rotate(-10deg); }
.stateface-dc { font-size: 1.5%; top: 37%; left: 83%; -webkit-transform:rotate(-8deg); -moz-transform:rotate(-8deg); }
.stateface-de { font-size: 6%; top: 29.7%; left: 87.6%; -webkit-transform:rotate(-15.2deg); -moz-transform:rotate(-15.2deg); }
.stateface-fl { font-size: 27%; top: 62.5%; left: 64%; -webkit-transform:rotate(-7.5deg); -moz-transform:rotate(-7.5deg); }
.stateface-ga { font-size: 19%; top: 49.1%; left: 68%; -webkit-transform:rotate(-7.3deg); -moz-transform:rotate(-7.3deg); }
.stateface-hi { font-size: 14%; top: 71.4%; left: 3%; }
.stateface-id { font-size: 28.7%; top: 12.1%; left: 10%; -webkit-transform:rotate(9deg); -moz-transform:rotate(9deg); }
.stateface-il { font-size: 23%; top: 27.3%; left: 55%; -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg); }
.stateface-ia { font-size: 16.7%; top: 24.2%; left: 46.5%; -webkit-transform:rotate(-1deg); -moz-transform:rotate(-1deg); }
.stateface-in { font-size: 16.7%; top: 26.8%; left: 62.2%; -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); }
.stateface-ks { font-size: 17%; top: 36.6%; left: 36.5%; -webkit-transform:rotate(1deg); -moz-transform:rotate(1deg); }
.stateface-ky { font-size: 19.5%; top: 32.5%; left: 60%; -webkit-transform:rotate(-8deg); -moz-transform:rotate(-8deg); }
.stateface-la { font-size: 16.5%; top: 60%; left: 51.3%; -webkit-transform:rotate(-1deg); -moz-transform:rotate(-1deg); }
.stateface-ma { font-size: 6.5%; top: 19.5%; left: 89.4%; -webkit-transform:rotate(-13deg); -moz-transform:rotate(-13deg); }
.stateface-md { font-size: 9%; top: 31.6%; left: 79.2%; -webkit-transform:rotate(-9deg); -moz-transform:rotate(-9deg); }
.stateface-me { font-size: 18%; top: 1%; left: 94%; -webkit-transform:rotate(-18deg); -moz-transform:rotate(-18deg); }
.stateface-mi { font-size: 23%; top: 9.8%; left: 58%; -webkit-transform:rotate(-5deg); -moz-transform:rotate(-5deg); }
.stateface-ms { font-size: 19%; top: 52.7%; left: 55.9%; -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg); }
.stateface-mn { font-size: 24%; top: 5.5%; left: 46.5%; -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg); }
.stateface-mo { font-size: 17%; top: 34.3%; left: 48.9%; -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg); }
.stateface-mt { font-size: 25.2%; top: 9.1%; left: 12.7%; -webkit-transform:rotate(9deg); -moz-transform:rotate(9deg); }
.stateface-ne { font-size: 21%; top: 25%; left: 33%; -webkit-transform:rotate(1.5deg); -moz-transform:rotate(1.5deg); }
.stateface-nv { font-size: 29.7%; top: 36%; left: 2.4%; -webkit-transform:rotate(12deg); -moz-transform:rotate(12deg); }
.stateface-nh { font-size: 10.4%; top: 11.2%; left: 91.3%; -webkit-transform:rotate(-15.2deg); -moz-transform:rotate(-15.2deg); }
.stateface-nj { font-size: 8.4%; top: 25.7%; left: 87.4%; -webkit-transform:rotate(-15.2deg); -moz-transform:rotate(-15.2deg); }
.stateface-nm { font-size: 24.4%; top: 48.8%; left: 22.1%; -webkit-transform:rotate(4.8deg); -moz-transform:rotate(4.8deg); }
.stateface-ny { font-size: 18.6%; top: 13.8%; left: 77.8%; -webkit-transform:rotate(-13.4deg); -moz-transform:rotate(-13.4deg); }
.stateface-nc { font-size: 18%; top: 39.6%; left: 70.4%; -webkit-transform:rotate(-7.3deg); -moz-transform:rotate(-7.3deg); }
.stateface-nd { font-size: 16.8%; top: 8.6%; left: 33.3%; -webkit-transform:rotate(3.6deg); -moz-transform:rotate(3.6deg); }
.stateface-oh { font-size: 15%; top: 25.8%; left: 68.5%; -webkit-transform:rotate(-7deg); -moz-transform:rotate(-7deg); }
.stateface-ok { font-size: 23%; top: 44.2%; left: 34.2%; -webkit-transform:rotate(1deg); -moz-transform:rotate(1deg); }
.stateface-or { font-size: 28%; top: 20.8%; left: -4.8%; -webkit-transform:rotate(15deg); -moz-transform:rotate(15deg); }
.stateface-pa { font-size: 15.7%; top: 21.8%; left: 76.5%; -webkit-transform:rotate(-10deg); -moz-transform:rotate(-10deg); }
.stateface-ri { font-size: 3.5%; top: 22.4%; left: 92.7%; -webkit-transform:rotate(-13deg); -moz-transform:rotate(-13deg); }
.stateface-sc { font-size: 13.9%; top: 48%; left: 72.1%; -webkit-transform:rotate(-7.5deg); -moz-transform:rotate(-7.5deg); }
.stateface-sd { font-size: 21.7%; top: 16%; left: 33.1%; -webkit-transform:rotate(2.6deg); -moz-transform:rotate(2.6deg); }
.stateface-tn { font-size: 19%; top: 41%; left: 58.8%; -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); }
.stateface-tx { font-size: 39%; top: 51.2%; left: 26.4%; -webkit-transform:rotate(3deg); -moz-transform:rotate(3deg); }
.stateface-ut { font-size: 21%; top: 36.1%; left: 13.4%; -webkit-transform:rotate(10deg); -moz-transform:rotate(10deg); }
.stateface-va { font-size: 20.7%; top: 30.4%; left: 70.6%; -webkit-transform:rotate(-8deg); -moz-transform:rotate(-8deg); }
.stateface-vt { font-size: 9.5%; top: 12.4%; left: 89.4%; -webkit-transform:rotate(-14deg); -moz-transform:rotate(-14deg); }
.stateface-wa { font-size: 17.5%; top: 14.7%; left: -3.8%; -webkit-transform:rotate(15.5deg); -moz-transform:rotate(15.5deg); }
.stateface-wv { font-size: 13.8%; top: 30.8%; left: 72.2%; -webkit-transform:rotate(-6deg); -moz-transform:rotate(-6deg); }
.stateface-wi { font-size: 17.7%; top: 14.3%; left: 52.7%; -webkit-transform:rotate(-1deg); -moz-transform:rotate(-1deg); }
.stateface-wy { font-size: 17.8%; top: 23.7%; left: 20%; -webkit-transform:rotate(6deg); -moz-transform:rotate(6deg); }
