@font-face {
  font-family: 'StateFaceRegular';
  src: url('../font/webfont/stateface-regular-webfont.eot');
  src: url('../font/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/webfont/stateface-regular-webfont.woff') format('woff'),
       url('../font/webfont/stateface-regular-webfont.ttf') format('truetype'),
       url('../font/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
